body {
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    padding: 0;
}

header {
    background-color: navy;
    color: white;
    display: flex;
    justify-content: space-between;
}

#heading {
    padding: 1rem;
    font-weight: 700;
    font-size: large;
}


h1 {
    text-align: center;
    margin: 1rem;
}

main {
    margin-bottom: 2rem;
}

.gallery img {
    width: 300px;
    height: 200px;
    margin-top: 1rem;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
}

.gallery {
    text-align: center;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 2rem 0 ;
}

nav {
    display: flex;
}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
}

#menu::before {
    content: "≡";
}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover,
.navigation a:active {
    color: white;
    background-color: black;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
}
 
button {
    background-color: navy;
    color: white;
    border: none;
}

section {
    background-color: rgba(212, 210, 210, 0.635);
    padding: 1rem;
}

p {
    margin: 0 auto;
    padding: 0;
}

.label {
    color: purple;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
}

.label::first-letter {
    font-size: 1.3rem;
}

footer {
    background-color: navy;
    color: white;
    padding: 2rem;
    text-align: center;
}