* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1000px;
    max-height: 100vh;
    font-family: "Roboto", sans-serif;
}

h1 {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

h2 {
    text-align: center;
    margin: 2rem;
    color: green;
}

#message {
    color: navy;
    font-size: 1.3rem;
}

#confirm {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    border: 1px solid black;
    background-color: gainsboro;
    border-radius: 5px;
    text-align: center;
    margin: 5rem auto;
}

form {
    max-width: 400px;
    background-color: gainsboro;
    border: 1px solid black;
    border-radius: 5px;
    margin: 2rem auto;
    padding: 1rem;
}

label, form p {
    display: block;
    font-weight: 600;
}

form div, #sub {
    display: block;
    margin: 1rem;
}

input[type="radio"] {
    display: none;
    position: relative;
    caret-color: black;
}

.stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.stars > label {
    color: gold;
    width: 30px;
    height: 30px;
    font-size: 3rem;
    margin-left: 5px;
    display: flex;
    align-items: center;
    caret-color: black;
}

.stars > label:hover {
    color: black;
}

.stars > label::before {
    content: "\2606";
}

.stars input:checked ~ label::before {
    content: "\2605";
}

input[type="text"],
input[type="date"], select {
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    border: none;
    margin-top: .3rem;
    appearance: none;
}

#first {
    margin-left: 15px;
}

select {
    display: block;
    width: 335px;
}

input[type="checkbox"] {
    width: 1.3rem;
    height: 1.3rem;
    margin: .4rem .5rem 0 0;
}

input:required {
    border-bottom: 5px solid red;
}

input:required:valid {
    border-bottom: 5px solid green;
}

textarea {
    padding: 1rem 1rem 4rem 1rem;
    width: 100%;
    border-radius: 5px;
    border: none;
    margin-top: .3rem;
    appearance: none;
}

.highlighted {
    color: navy;
}

.edit {
    font-style: italic;
}

button {
    width: 335px;
    background-color: navy;
    color: white;
    margin: 0 auto;
    padding: 1rem;
    margin-left: 15px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.3rem;
}

footer {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 1rem 0;
}